# Python cache
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
.venv/
env/

# Streamlit secrets (אסור לדחוף לריפו)
.streamlit/secrets.toml

# Data / uploads
uploads/
feedbacks/
user_data/

# Audio files
*.wav
*.mp3
*.aif
*.aiff
*.flac

# macOS system files
.DS_Store
